
.widget.widget-Video2gif-advanced {
  .widget-label {
    margin-bottom: 5px;
  }
  .slider {
    margin: 24px 0 44px;
    max-width: calc(100% - 8px);
    .slider-label {
      font-size: 12px;
    }
  }
  .select {
    margin-bottom: 38px;
    margin-top: 6px;
  }
  .field-type-textarea {
    margin-bottom: 40px;
  }
}
