
// Typography
$font-family-base: 'Fira Sans', Arial, sans-serif;

// Colors
$text-color: #262626;
$link-color: #0070d2;

$color-black: #000;
$color-grey: #9b9b9b;
$color-white: #fff;

$color-shade: rgba(#3e4b5e, 0.3);
